@import "./colors";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;

  > h2 {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;

    > img {
      width: 40px;
    }
    > p {
      > span {
        color: $pc;
      }
    }
  }
}
